<header class="header">
    <h1>HaveFun</h1>
    <div>
        <span class="fas fa-search"></span>
        <input type="text" placeholder="Explore your own activites">
    </div>
</header>
<div class="content">
    <div class="filter">
        <div class="block location">
            <span class="title">Location</span>
            <div class="value">
                <select>
                    <option value="Taiwan">Taiwan</option>
                </select>
            </div>
        </div>
        <div class="block Date">
            <span class="title">Date</span>
            <div class="value">
                <div>from
                    <input type="date">
                </div>
                <div>to
                    <input type="date">
                </div>
            </div>
        </div>
        <div class="block location">
            <span class="title">Categories</span>
            <div class="value">
                <span>
                    <input type="checkbox"> All
                </span>
                <span>
                    <input type="checkbox"> Entertanment
                </span>
                <span>
                    <input type="checkbox"> Food
                </span>
                <span>
                    <input type="checkbox"> Learning
                </span>
                <span>
                    <input type="checkbox"> Outdoors
                </span>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="search-result">
            <span class="result-title">Showing
                <span class="result-count">15</span>
                results by...
            </span>
            <span class="filter-tag">
                Koahsiung
                <span class="tag-clear"></span>
            </span>
            <span class="filter-tag">
                Enterainment
                <span class="tag-clear"></span>
            </span>
        </div>
        <article class="article">
            <img class="article-img" src="">
            <title class="article-title">Kogi Cosby sweater.</title>
            <div class="article-short-descr"></div>
            <div class="article-type">
                <span class="article-type-organizer">Ethan Foster</span>
                <span class="article-type-category">Enterainment</span>
            </div>
            <div class="article-info">
                <span class="location">
                    Kaosiung City
                </span>
                <span class="opentime">
                    2018/5/24-2018/5/31
                </span>
            </div>
        </article>
    </div>
    <nav>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-previous"></a>
            </li>
            <li class="page-item">
                <a>1</a>
            </li>
            <li class="page-item">
                <a>2</a>
            </li>
            <li class="page-item">
                <a>3</a>
            </li>
            <li class="page-item">
                <a>4</a>
            </li>
            <li class="page-item">
                <a>5</a>
            </li>
            <li class="page-item">
                <a class="page-next"></a>
            </li>
        </ul>
    </nav>
</div>