@import "./src/scss/variable";
@import "./src/scss/mixin";

body {
  color: $black;
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: $body-bg;
}

.header {
  background-color: $header-bg;
  @include lg-media {
    padding: 24px 78px;
  }

  @include md-media {
    padding: 24px 39px;
  }

  @include sm-media {
    padding: 0;
    padding-top: 20px;
  }

  .logo {
    display: inline-block;
    margin-right: 144px;

    @include sm-media {
      display: block;
      margin: 0px auto;
      margin-bottom: 20px;
    }
  }

  .search {
    $search_padding: 4px;

    display: inline-block;
    width: 388px - $search_padding * 2;
    padding: $search_padding;

    @include sm-media {
      display: block;
      background-color: $filter-bg;
      padding: 10px 40px;
      width: auto;
    }

    &::after {
      content: "";
      display: inline-block;
      height: 1px;
      width: 334px;
      background-color: $white;

      @include sm-media {
        background-color: $black;
      }
    }

    .fa-search {
      color: $white;
      margin-right: 20px;

      @include sm-media {
        color: $black;
        margin-right: 24px;
      }
    }

    input[type="text"] {
      background-color: transparent;
      border: 0;
      height: 24px;
      width: 90%;

      @include sm-media {
        width: 85%;
      }

      &::placeholder {
        @include placeholder;
        color: $white;
        opacity: 0.5;

        @include sm-media {
          color: $info-color;
          opacity: 1;
        }
      }
    }
  }
}

.content {
  padding: 0 40px 24px 38px;
  $filter-width: 300px;

  @include md-media {
    padding-left: 0;
  }

  @include sm-media {
    padding: 0;
  }

  .filter {
    display: inline-block;
    width: $filter-width;
    background-color: $filter-bg;
    vertical-align: top;

    @include sm-media {
      display: block;
      width: auto;
    }

    .block {
      padding: 24px 40px;
      @include sm-media {
        &.hide {
          .value {
            display: none;
          }

          .filter-toggle.open {
            display: inline-block;
          }
        }

        &.open {
          .value {
            display: block;
          }

          .filter-toggle.hide {
            display: inline-block;
          }
        }
      }

      .filter-toggle {
        display: none;
        float: right;
        color: $info-color;
      }

      & + .block {
        border-top: 1px solid $category-color;
      }

      .title {
        @include subtitle;
        font-weight: bold;
      }

      .value {
        margin-top: 15px;
        width: 100%;
        & > * {
          width: 100%;
        }

        select,
        input:not([type="checkbox"]) {
          border-radius: 0;
          height: 40px;
        }

        .date {
          text-align: right;

          input {
            margin-left: 13px;
            width: 166px;
            box-sizing: border-box;
          }

          & + .date {
            margin-top: 8px;
          }
        }

        .location {
          display: block;
        }
      }
    }
  }

  .main {
    $main-marginf-left: 42px;
    display: inline-block;
    margin-left: $main-marginf-left;
    width: calc(100% - #{$filter-width} - #{$main-marginf-left});
    
    @include sm-media{
        width: auto;
        display: block;
        padding: 25px 40px;
        margin: 0;
    }

    .search-result {
      margin-top: 24px;
      @include sm-media {
        display: none;
      }

      .result-title {
        @include title;
        margin-bottom: 8px;

        .result-count {
          color: $main-color;
        }
      }

      .filter-tag {
        display: inline-block;
        border: 1px solid $main-color;
        border-radius: 100px;
        color: $main-color;
        @include label;
        padding: 8px 16px;
        margin-right: 8px;

        .fa-times-circle {
          margin-left: 8px;
        }
      }
    }

    .article {
      margin-top: 24px;
      background-color: $white;

      img {
        width: 220px;
        height: 220px;

        @include md-media {
          display: block;
          width: auto;
          height: 196px;
        }
      }

      .article-main {
        $article-padding-width: 20px;
        display: inline-block;
        // width: 560px - $article-padding-width * 2;
        padding: 24px $article-padding-width;
        vertical-align: top;

        @include md-media {
          display: block;
          width: auto;
        }
      }

      .article-title {
        display: block;
        @include title;
        color: $main-color;
      }

      .article-short-descr {
        @include paragragh;
        margin: 16px 0;
        height: 50px;
        overflow: hidden;
        line-height: 24px;
      }

      .article-type {
        @include label;

        .article-type-organizer {
          font-style: normal;
          font-weight: bold;
          margin-right: 19px;
        }

        .article-type-category {
          background-color: $category-color;
          border-radius: 100px;
          padding: 2px 16px;
          color: $white;
        }
      }

      .article-info {
        margin-top: 16px;
        color: $info-color;
        @include remark;

        .icon {
          margin-right: 7px;
        }

        .location {
          @include lg-media {
            margin-right: 20px;
          }

          @include md-media {
            margin-bottom: 8px;
          }
        }

        & > span {
          display: block;
        }
      }
    }

    nav {
      text-align: right;
      @include sm-media{
          text-align: center;
      }

      .pagination {
        list-style: none;
        padding: 0;

        .page-item {
          display: inline-block;
          width: 41px;
          height: 42px;
          background-color: $white;
          color: $main-color;
          text-align: center;
          line-height: 42px;

          &.active {
            background-color: $main-color;
            color: $white;
          }

          a {
            display: inline-block;
            font-family: "HelveticaNeue";
            font-size: 16px;
            line-height: 21px;
          }
        }
      }
    }
  }
}
