$black: #000;
$white: #fff;
$header-bg: #7828B4;
$main-color: #9013FE;
$body-bg: #F2F2F2;
$filter-bg: #EBEBEB;
$category-color: #D7D7D7;
$info-color: #9B9B9B;
$font-family: 'Roboto-Medium';
$lg-width: 1200px;
$md-width: 768px;
$sm-width: 414px;
$lgs-width: $lg-width - 1px;
$mds-width: $md-width - 1px;